*{
    font-family: 'Space Grotesk';
    letter-spacing: .1vw;
    /* font-weight: 500; */
    /* border: 1px solid red; */
}
body {
    margin: 0px;
    padding: 0px;
  }
#global-parent{
    position: absolute;
    background-color: white;
}
#gradient-image{
    height: 100vh;
    width: 30vw;
}
#background-left{
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}
#credit-front{
    position: absolute;
    margin-top: 18vh;
    margin-left: 18vh;
}

#credit-front-image{
    width:  28vw;
}

#credit-back-image{
    width: 28vw;
}
#logo{
    position: absolute;
    height: 2.5vw;
    top: 2.3vw;
    left: 2.5vw;
}
 
#number{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    top: 8vw;
    left: 2vw;
    display: inline-block;
}
#name{
    position: absolute;
    color: white;
    top: 12.5vw;
    left: 2vw;
    font-size: 0.95vw;
    display: inline-block;
}
#date{
    position: absolute;
    display: inline-block;
    color: white;
    top: 12.5vw;
    left: 22vw;
    font-size: 0.95vw;
}

#credit-back{
    position: absolute;
    margin-top: 55vh;
    margin-left: 33vh;

}

.credit-back-image_cvv{
    color: white;
    position: absolute;
    left:22vw;
    top: 6.8vw;
}


/* form */
*{
    /* border: 1px solid red; */
}
#info-back {
    position: absolute;
    top: 35vh;
    left: 55vw;
}

.info{
    padding: 1vh;
    width: 22vw;
    border: 1px solid red;
}


#cardholder_name, #card_number{
    height:2.5rem ;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.cvv_details{
    width: 3vw;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.exp_date_mm{
    width: 3vw;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.exp_date_yy{
    width: 3vw;
    border: 1px solid lightgray;
    border-radius: 8px;
}
.exp_date_cvv{
    display: flex;
    column-gap: 20px;
}