*{
    font-family: 'Space Grotesk';
    letter-spacing: .1vw;
    /* font-weight: 500; */
    /* border: 1px solid red; */
}
body {
    margin: 0px;
    padding: 0px;
  }
#global-parent{
    position: absolute;
    background-color: white;
}
#gradient-image{
    height: 100vh;
    width: 30vw;
}
#background-left{
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}
#credit-front{
    position: absolute;
    margin-top: 18vh;
    margin-left: 18vh;
}

#credit-front-image{
    width:  28vw;
}

#credit-back-image{
    width: 28vw;
}
#logo{
    position: absolute;
    height: 2.5vw;
    top: 2.3vw;
    left: 2.5vw;
}
 
#number{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    top: 8vw;
    left: 2vw;
    display: inline-block;
}
#name{
    position: absolute;
    color: white;
    top: 12.5vw;
    left: 2vw;
    font-size: 0.95vw;
    display: inline-block;
    text-transform: uppercase;
}
#date{
    position: absolute;
    display: inline-block;
    color: white;
    top: 12.5vw;
    left: 22vw;
    font-size: 0.95vw;
}

#credit-back{
    position: absolute;
    margin-top: 55vh;
    margin-left: 33vh;

}

.credit-back-image_cvv{
    color: white;
    position: absolute;
    left:22vw;
    top: 6.8vw;
}


/* form */
*{
    /* border: 1px solid red; */
}
.info{
    margin-bottom:2.5vh;
    margin-top: 1.3vh;

}
.info-card{
    width: 32vw;
    
}
#info-back {
    position: absolute;
    top: 28vh;
    left: 55vw;
}
.info-card{
    width: 25vw;
}
.info-card label{
    font-size: 12px;
    font-weight:bolder;
}
.form-cardholder_name,
.form-card-number,
.cvv_details{
    width: 100%;
    height: 2.5rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding-left: 15px;
}
.exp_date_cvv{
    display: flex;
    width: 100%;
    gap: 0.5rem;
}
.exp_date_MM_YY_Inp{
    display: flex;
    gap: 0.5rem;
}
.exp_date_mm,
.exp_date_yy{
    width: 50%;
    height: 2.5rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding-left: 15px;
}
.form-btn{
    width: 106%;
    height: 3rem;
    border: 1px solid lightgray;
    border-radius: 8px;
    background-color: rgb(33, 9, 47);
    color: white;
    margin-top: 3vh;
}
.hidden{
    display: none;
}